<div fxLayout="row" style="height: 100%; width: 100%">

  <!-- Left half -->
  <div fxLayout="column" fxFlex="30%">
    <div fxFlex="100%">
      <!-- Languages list -->
      <div *ngFor="let translationFile of translationFiles"
           (click)="onClickOnTranslationFile(translationFile)">
        <div>Language: {{translationFile.languageCode}}</div>
      </div>

      <!-- Key tree -->
      <div style="background: #eee; width: 100%; overflow: scroll">
        <app-recursive-json [jsonObject]="keyTree"
                            [showValues]="false"
                            (clickOnElement)="onClickOnElement($event)"></app-recursive-json>
      </div>
    </div>

    <!-- File drop zone -->
    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="onFileHooverOnBase($event)"
         (onFileDrop)="onFileDropOnBase($event)"
         [uploader]="fileUploader"
         class="well my-drop-zone">
      Drop here your files
    </div>
  </div>

  <!-- Right half -->
  <form class="example-form"
        style="width: 100%">
    <div fxLayout="column" fxLayoutAlign="space-around stretch" style="height: 100%;"
         *ngIf="translationFiles as tfs; let i=index">
      <mat-form-field class="example-full-width"
                      (input)="onFieldChange($event, translationFile)"
                      *ngFor="let translationFile of tfs; let i=index;">
        <mat-label>{{translationFile.languageCode}}</mat-label>
        <textarea matInput placeholder="Write here the text for language {{translationFile.languageCode}}"
                  [value]="getValueOnEdit(translationFile)">
        </textarea>
      </mat-form-field>
    </div>
  </form>

</div>
