<div *ngFor="let key of keys" [ngStyle]="{ 'margin-left': 10 * level + 'px' }">
  <ng-container *ngIf="{isLeaf: isLeaf(jsonObject[key])} as l">
    <button mat-button (click)="onClickOnElement(key)" class="key-button"
      [ngClass]="{ 'incomplete-translation': !isNodeTranslationComplete(key) , 'hide-complete': showOnlyIncomplete, 'leaf-button': l.isLeaf }">
      {{ key }}
    </button>

    <div *ngIf="l.isLeaf && showValues" class="leaf" (click)="onClickOnElement(key)">
      {{ jsonObject[key] }}
    </div>

    <app-recursive-json *ngIf="!l.isLeaf" [showValues]="showValues" [jsonObject]="jsonObject[key]"
      [showOnlyIncomplete]="showOnlyIncomplete" [ownPath]="pathForChild(key)" [translationsFiles]="translationsFiles"
      (clickOnElement)="onClickOnChild($event)"></app-recursive-json>
  </ng-container>
</div>
