<div *ngFor="let key of keys"
     [ngStyle]="{'margin-left': 10 * level + 'px'}">

  <div (click)="onClickOnElement(key)">{{key}}</div>

  <div *ngIf="isLeaf(jsonObject[key]) && showValues"
       class="leaf"
       (click)="onClickOnElement(key)">
    {{jsonObject[key]}}
  </div>

  <app-recursive-json *ngIf="!isLeaf(jsonObject[key])"
                      [showValues]="showValues"
                      [jsonObject]="jsonObject[key]"
                      [ownPath]="pathForChild(key)"
                      (clickOnElement)="onClickOnChild($event)"></app-recursive-json>

</div>
