<div *ngFor="let key of keys"
     [ngStyle]="{'margin-left': 10 * level + 'px'}">
  <div (click)="onClickOnElement(key)">{{key}}</div>
  <div *ngIf="isLeaf(jsonObject[key]); else isObject"
       class="leaf"
       (click)="onClickOnElement(key)">
    {{jsonObject[key]}}
  </div>

  <ng-template #isObject>
    <app-recursive-json [jsonObject]="jsonObject[key]"
                        (clickOnElement)="onClickOnChild($event)"
                        [ownPath]="pathForChild(key)"></app-recursive-json>
  </ng-template>

</div>
